*{
    margin: 0;
    padding: 0;
    font-family:  Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(10, 6, 21);
}
.container{
    width: 90%;
    max-width: 350px;
    background: linear-gradient( 135deg,#00feba,#5b548a);
    margin: 100px auto 0;
    padding: 30px;
    border-radius: 10px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.search input{
    /* background-color: rgba(128, 128, 128, 0.408);; */
    background-color: #fff;
    flex: 1;
    padding: 10px 20px ;
    border: none;
    outline: none;
    border-radius: 30px;
    margin-right: 10px;
    font-size: 16px;
    text-transform: capitalize;
}

.search button{
    font-size: 16px;
    border: none;
    outline: none;
    /* background-color: rgba(128, 128, 128, 0.408); */
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.search i:hover{
    background-color:  rgba(11, 11, 11, 0.474);
    color: #fff;
}

.weather{
    /* background-color: re+d; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   
}
.weather img{
    /* height: 40%; */
    width:40%;
    margin: 20px 0 5px;
    /* background-color: red; */
}

.weather h1{
    color: white;
    font-size:75px;
    margin-top: 15px;
}

.weather h2{
    color: white;
    font-size: 40px;
    /* margin-top: -10px; */
}

.data{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 28px 0px 0px;
}

.col{
    display: flex;
}

.col i{
    font-size: 28px;
    /* margin-left: 10px; */
    padding: 5px;
}

.wind , .humidity{
    font-size: 28px;
    /* margin-right: 10px; */
}

.weather1{
    display: none;
}